<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398280158994-ofqigc36in9fqf8h3us5ufvqs4k0vhta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398280158994-ofqigc36in9fqf8h3us5ufvqs4k0vhta</string>
	<key>API_KEY</key>
	<string>AIzaSyCFUTIeGluRZBtLN4afjAXqTbyPgcvA8mI</string>
	<key>GCM_SENDER_ID</key>
	<string>398280158994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forrest-group.forrest-Flutter</string>
	<key>PROJECT_ID</key>
	<string>forrest-6fd1e</string>
	<key>STORAGE_BUCKET</key>
	<string>forrest-6fd1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398280158994:ios:cf1a68ddbb743e13714dcb</string>
</dict>
</plist>